@media (max-width: 1200px) {
        .product-one__inner{
        display: block;
        .product-one__aside{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .aside__item{
                  flex-basis: calc(50% - 30px);
            max-width: 100%;
            }
            .aside__item-contents{
                height: 360px;
                order: 4;
            }
        }
    }
    .product-one__item{
        display: table;
        margin: 0 auto;
    }
    .products__top-choise {
        display: none;
    }
    .favourites__inner,
    .products__inner-content {
        .product__item {
            flex-basis: calc(50% - 30px);
            max-width: 100%;
            .product__info-title {
                height: 55px;
            }

            .product__footer-down {
                max-width: 100%;
            }
        }
    }
    .release__category-box {
        .product__item {
            flex-basis: calc(33.333% - 30px);
            .product__footer {
                align-items: center;
                max-width: 790px !important;
                width: 100%;
            }
            .product__item-btn {
                text-align: center;
            }
        }
    }
}

@media (max-width: 1170px) {
    .contact__massages-info{
        padding: 40px 90px 60px 90px;
    }
    .contact__massages-line {
        justify-content: center;
    label {
        input {
            min-width: 360px;
            max-width: 100%;
            width: 100%;
     }
    }

}
    .contact{
        iframe{
            max-width: 1140px;
            width: 100%;
        }
    }
    
    .blog__item-img {
    img {
        max-width: 100%;
    }
}
        .blog__item{
              flex-basis: calc(100% - 30px);
            max-width: 100%;
}
    .blog__inner {
        flex-flow: wrap;
        .blog__aside {
            order: 1;
            display: flex;
            flex-wrap: inherit;
            justify-content: space-around;
            .blog__aside-item-category{
                order: 1;
            }
            .blog__aside-item-post{
                order: 2;
            }
        }
        .blog__items {
            order: 2;
        }
    }
    .feedback__inner {
        display: block;
    }
    .feedback__item {
        max-width: 100%;
    }
    .followers__category-box {
        .product__item {
            flex-basis: calc(33% - 27px);
            max-width: 90%;
            .followers {
                .slick-track {
                    top: 0;
                    left: 11px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}


@media (max-width: 1150px) {
    .more__items-inner{
        .product__item{
            flex-basis: calc(50% - 30px);
            max-width: 100%;
            .product__footer{
                width: 100%;
            }
        }
    }
    .pricing__item-price {
    .pricing__valuta {
        left: 50px;
    }
}
    .pricing__item-price{
        margin-left: auto;
        margin-right: auto;
        max-width: 284px;
    }
    .pricing__inner{
        flex-wrap: wrap;
    }
    .pricing__item{
        margin-bottom: 30px;
        text-align: center;
        max-width: 100%;
        flex-basis: calc(50% - 30px);
    }
    .contact__inner{
        display: block;
        .contact__item{
            max-width: 100%;
            margin-bottom: 20px;
            text-align: center;
            &-info{
                max-width: 100%;
            }
        }
    }
    .blog__aside-item{
                    flex-basis: calc(50% - 30px);
            max-width: 100%;
}
.blog__items{
    max-width: 100%;
}
.blog__aside-item-category{
    li{
        button{
            max-width: 89%;
        }
        span{
            margin-left: 0;
        }
    }
}
    .blog__aside-item-banner{
        display: none;
    }
    .news__inner {
        padding-bottom: 120px;
        display: block;
        .news__item {
            max-width: 100%;
            &-img {
                max-width: 100%;
            }
        }
    }
    .release__category-box {
        .product__item {
            flex-basis: calc(50% - 30px);
            max-width: 100%;
            .product__footer {
                align-items: center;
                max-width: 512px;
                width: 100%;
            }
            .product__item-btn {
                text-align: center;
            }
        }
    }
}

@media (max-width: 1130px) {
    .footer__content {
        justify-content: center;
    }
    .footer__newsletter {
        margin-top: 30px;
    }
}

@media (max-width: 1100px) {
    .featured__slider-item {
        display: block !important;
        max-width: 555px;
        width: 100%;
        .featured__info {
            max-width: 555px;
            height: auto !important;
        }
        .featured__slider-btn {
            top: 24%;
        }
    }
}

@media (max-width: 1060px) {
    .work__upload{
        .work__wrapper{
                        .work__item-title{
        padding-top: 50px;
    }
        }

    }
    .work__start,
    .work__upload,
    .work__item-create {
    .work__item-info {
        margin-top: 0px !important;
    }
}
    .work__wrapper{
        display: block;
        .work__img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
    .work__item-title{
        text-align: center;
    }
    .work__item-text{
        max-width: 100%;
    }
    .work__item-btn{
        text-align: center;
    }
    
    }
    .favourites__top-btn{
        justify-content: space-between;
    }
    .favourites__top-found{
        display: none;
    }
    .create__info-item {
        display: block;
        .create__info-inner {
            max-width: 1200px;
            width: 100%;
        }
    }
}
@media (max-width: 970px) {
    .products__top-wrapper {
        display: none;
    }
    .products__top-btn {
        display: inherit;
        margin: 0 auto;
    }
}
@media (max-width: 945px) {
    .blog__aside-item-category{
        text-align: center;
    li{
        button{
            max-width: 89%;
        }
        span{
            margin-left: 0;
        }
    }
}
        .blog__aside-item{
                    flex-basis: calc(100% - 30px);
            max-width: 100%;
}
    .favourites__inner,
    .products__inner-content {
        .product__item {
            flex-basis: calc(100% - 30px);
            max-width: 100%;
            margin-left: 15px;
            .product__info-title {
                height: 55px;
            }
            .product__footer-down {
                max-width: 100%;
            }
        }
    }
    .choose__item {
        flex-basis: calc(50% - 15px);
        max-width: none;
    }
    .create__box {
        top: -50px;
    }

    .header__inner {
        .header__nav {
            text-align: center;
            position: absolute;
            display: none;
            background-color: $footer;
            width: 100%;
            z-index: 3;
            top: 182px;
            width: 100%;
            right: 0;
            .pages__box,
            .festures__box,
            .wordpress__box,
            .products__box,
            .home__box {
                border-bottom: 1px solid $graylow;
                &-title {
                    cursor: pointer;
                    transition: 0.3s;
                    color: #fff;
                }
                margin-top: 0 !important;
                padding-top: 16px;
            }
        }
        .header__drop-down {
            display: none;
            width: 100%;
            position: absolute;
            top: 50px;
        }
        .pages__box {
            .header__drop-down {
                max-height: 300px;
                overflow-y: scroll;
                left: 0;
                right: 0px;
                max-width: 100%;
                min-width: 100px;
            }
            .page__inner {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                align-items: center;

                .page__item {
                    margin-top: 30px;
                    ul {
                        li {
                            padding-right: 0px;
                            a {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }

        .header__burger {
            display: block !important;
        }
    }
}

@media (max-width: 850px) {
    .tab__item-bigimg{
        display: none;
    }
       .product-one__inner{
        .product-one__aside{
            .aside__item{
                  flex-basis: calc(100% - 30px);
                  margin-left: -30px;
                  .information__line {
                      justify-content: space-around;
                  }
            }
        }
    }
        .contact__massages-info {
    padding: 40px 30px 60px 30px;
}
        .contact__massages-line {
        justify-content: center;
        textarea{
            min-width: 500px;
            max-width: 100%;
            width: 100%;
        }
    label {
        input {
            min-width: 100%;
            max-width: 100%;
            width: 100%;
     }
    }

}
    .shopping {
        &-title {
            font-size: 30px;
        }
    }
}
@media (max-width: 800px) {
    .release__category-box {
        .product__item {
            max-width: 100%;
            flex-basis: calc(100% - 20px);
            .product__info-text {
                font-size: 16px;
                max-width: 100%;
                width: 100%;
                width: 100;
                height: 76px;
                line-height: 24px;
                color: #555;
                margin-bottom: 34px;
            }
            .product__footer {
                justify-content: space-around;
            }
        }
    }
}

@media (max-width: 790px) {
    .pricing__valiu{
max-width: 167px;
margin: 0 auto;
}
        .pricing__item-price {
    .pricing__valuta {
        left: -6px;
    }
}
        .pricing__item{
        margin-bottom: 30px;
        text-align: center;
        max-width: 100%;
        flex-basis: calc(100% - 30px);
        margin-left: 15px;
    }
    .seller__btn {
        display: none;
    }
}

@media (max-width: 780px) {
    .more__items-inner{
        .product__item{
            flex-basis: calc(104% - 30px);
            max-width: 100%;
            .product__info-text{
                max-width: 100%;
            }
            .product__footer{
                justify-content: space-around;
            }
            .product__footer-value{
                margin-left: 0;
            }
        }
    }
    .followers__top-btn {
        display: none;
    }
    .followers__category-box {
        .product__item {
            flex-basis: calc(33% - 27px);
            max-width: 95%;
            .product__footer {
                width: auto;
            }
            .product__item-btn {
                text-align: center;
            }
        }
    }
}

@media (max-width: 778px) {
    .footer__content {
        justify-content: start;
        .footer__col {
            margin-bottom: 30px;
            width: 100%;
            margin-left: 70px;
        }
        .footer__newsletter {
            margin-left: 70px;
        }
    }
}

@media (max-width: 710px) {
    .favourites__top-btn{
        padding-bottom: 26px;
        display: block;
        .per__pages ,
        .price{
            max-width: 100%;
        }
        .filter__by{
             .chevron__down {
        position: relative;
        .create__chevron {
            top: 15px;
        }
    }
            margin-top: 26px;
            max-width: 100%;
            .jq-selectbox__select{
                height: 44px;
                padding: 5px 0 0 15px;
                 border: 1px solid #d9dfe5;
            }
        }
    }
    .choose__item {
        flex-basis: calc(100% - 30px);
        margin-left: 15px;
    }
    .shoping__inner {
        display: block;
    }
    .create__box {
        display: none;
    }
    .create__info-item {
        margin-top: -150px;
    }
    .featured__top-wrapper {
        .featured__top-title {
            font-size: 25px;
        }
    }
}
@media (max-width: 666px){
    .product__full-info{
        height: 320px;
    }
    .product__full-social{
        display: block;
        .share{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 650px) {
    .products__top-btn {
        display: block;
        max-width: 650px;
        width: 100%;
    }
    .products__top {
        padding-bottom: 26px;
        .price,
        .per__pages {
            margin-right: 0px;
            max-width: 100%;
            width: 100%;
        }
    }
}
@media (max-width: 630px) {
    .products__inner-content {
        .product__item {
            margin-left: 15px;
        }
    }
    .prise-range {
        max-width: 100%;
        text-align: center;
    }
    .products__aside-inner {
        display: block;
        .aside__wrapper {
            margin-right: 0;
            .aside__product {
                .aside__drop-down {
                    ul {
                        button {
                            max-width: 84%;
                        }
                        span {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .featured__top-wrapper {
        .featured__top-title {
            font-size: 20px;
        }
    }
    .create__content {
        padding-top: 90px;
    }
    .notifications__box .arrow:before {
        right: 25px !important;
    }
    .notifications__menu {
        left: -5px !important;
    }
    .messege__menu {
        left: 1px;
    }
    .basket__menu {
        left: 1px;
    }
    .header__drop-down {
        left: 60px;
        top: 100px;
    }
    .header__top-inner {
        .user__slide {
            display: block;
        }
        .header__proffil {
            transition: all 0.7s;
            position: absolute;
            margin-top: -90px;
            right: -330px;
            width: 171px;
            &::before {
                right: 100px;
            }
        }

        .header__circles {
            transition: 1s cubic-bezier(0.22, 0.58, 0.67, 0.21);
            position: absolute;
            margin-top: -70px;
            left: 5px;
        }
        .header__logo {
            position: absolute;
            transition: 1s cubic-bezier(0.22, 0.58, 0.67, 0.21);
        }
    }
}

@media (max-width: 600px) {
    .page-404__img {
    width: 257px;
    height: 340px;
}
    .contact__massages-line{
        display: block;
         textarea{
            min-width: 100%;
            max-width: 100%;
            width: 100%;
        }
    label {
        input {
            margin-bottom: 20px;
            min-width: 100%;
            max-width: 100%;
            width: 100%;
     }
    }
    }
    .followers__category-box .product__item {
        max-width: 93%;
    }
    .release__wrapper-title {
        font-size: 25px;
        padding: 40px 83px 40px 30px;
    }
    .featured__info {
        padding: 30px 20px 24px 20px !important;
        .featured__info-text {
            line-height: 20px;
            font-size: 14px;
        }
        .featured__footer {
            display: block !important;
            text-align: center;
        }
        .featured__footer-value {
            text-align: center;
            margin-right: 0 !important;
        }
        .featured__footer-like {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 0px;
        }
        .featured__footer-basket {
            margin-right: 11px;
        }
        .featured__footer-stars.jq-ry-container {
            margin-top: 20px;
        }
        .featured__stras {
            margin-left: 0;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    .featured__top-wrapper {
        .featured__top-btn {
            display: none;
        }
    }
    .notifications__box:hover {
        .arrow:before {
            display: none;
        }
        .notifications__menu {
            display: none;
        }
    }
    .messege__box:hover {
        .arrow:before {
            display: none;
        }
        .messege__menu {
            display: none;
        }
    }

    .basket__box:hover {
        .arrow:before {
            display: none;
        }
        .basket__menu {
            display: none;
        }
    }
    .create__info {
        .create__info-subtitle {
            font-size: 14px;
        }
    }
}

@media (max-width: 530px) {
    .work__img {
width: 308px;
    height: 237px;
}
    .search__wrapper-title {
        font-size: 22px;
    }
    .search__wrapper-btn {
        max-width: 282px;
        input {
            height: 30px;
        }
        button {
            padding: 7px 20px;
        }
    }
    .support__inner {
        display: block;
    }
    .support__item-money {
        width: 100%;
        padding-right: 0;
        border-right: none;
    }
    .support__item-fast {
        width: 100%;
        padding-left: 0;
    }
    .statistics {
        .statistics__inner {
            display: block;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .statistics__case {
            margin-bottom: 12px;
        }

        .statistics__clound {
            margin-bottom: 15px;
        }

        .statistics__smile {
            margin-bottom: 17px;
        }

        .statistics__users {
            margin-bottom: 16px;
        }
        .statistics__item {
            margin-bottom: 20px;
        }
    }
    .create__content {
        .create__title {
            font-size: 40px;
            margin-bottom: 20px;
        }
        .create__text {
            font-size: 20px;
        }
    }
}

@media (max-width: 510px) {
    .work__img {
    width: 250px;
    height: 194px;
}
    .product__full-img{
        height: 240px;
    }
    .product__full-btn .favorites {
        margin-left: 0;
        margin-top: 20px;

}
    .blog__item-info{
        display: block;
    }
    .featured__info-subcategoryt {
        button {
            width: 100%;
            display: block;
            margin-bottom: 15px;
        }
    }
    .footer__content {
        justify-content: start;
        .footer__col {
            margin-left: 0px;
        }
        .footer__newsletter {
            margin-left: 0px;
        }
    }

    .create__btn {
        a {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 480px){
    .terms__item-title{
        padding: 30px 20px 30px 20px;
    }
    .terms__item-text{
        font-size: 13px;
        line-height: 25px;
    }
    .blog__aside-item-category li button {
    max-width: 79%;
}
}
@media (max-width: 441px){
    .recover-password__item-top{
        padding: 30px;
    }
    .recover-password__text{
        font-size: 13px;
        line-height: 25px;
    }
    .product__full-button.favorites{
        margin-left: 0;
        margin-top: 20px;
    }
}
@media (max-width: 430px) {
    .work__title{
        font-size: 22px;
    }
    .product__full-info{
        height: 370px;
    }
    .blog__item-text{
        line-height: 24px;
    }
    .blog__item-title{
        font-size: 20px;
    }
        .blog__item-img{
        img{
            height: 200px;
        }
    }
    .followers__category-box .product__item {
        max-width: 93%;
    }
    .followers__top {
        &-title {
            font-size: 20px;
        }
    }
}

@media (max-width: 414px) {
    .tabs .tab {
    font-size: 13px;
}
    .pricing__subtitle{
        line-height: 25px;
        font-size: 15px;
    }
    .contact__item-img {
    .lnr {
        width: 1em;
    }
  
}
     .favourites__inner {
        .product__item {
            margin-left: 0px;
            .product__info-title{
                height: 64px;
            }
            .product__footer{
                max-width: 361px;
                width: 100%;
            }
        }
    }
    .products__inner-content {
        .product__item {
            height: 365px;
        }
    }
    .news__inner {
        .news__item {
            height: auto;
            .news__footer {
                &-date {
                    padding-top: 13px;
                    border-right: 1px solid #ececec;
                    padding-right: 12px;
                    padding-left: 29px;
                    height: 40px;
                }
                &-statistics {
                    display: flex;
                    justify-content: space-between;
                    .views {
                        margin-right: 9px;
                    }
                    .commit {
                        margin-right: 31px;
                    }
                }
            }
        }
    }
    .feedback__item {
        .user__info::after {
            display: none;
        }
    }
    .product__item {
        height: auto;

        .product__footer {
            .product__footer-value {
                margin-right: 5px;
            }
            .product__footer-like {
                margin-right: 5px;
            }
            .product__footer-basket {
                margin-left: 7px;
            }
        }
        .product__info {
            height: auto;
            .product__info-text {
                height: auto;
            }
        }
    }
    .product__item .product__info-subtitle {
        display: block;
        .product__info-category {
            padding-left: 24px;
            position: relative;
            margin-top: 16px;
            margin-left: 7px;
        }
    }
    .followers__category-box {
        .product__item-btn {
            top: 55px;
            .info {
                margin-right: 0px;
                display: block;
                width: 100%;
                margin-bottom: 10px;
                margin-left: 0;
            }
            .demo {
                margin-left: 0px !important;
                display: block;
                width: 100%;
            }
        }
    }
    .header__circles .basket__box {
        padding-left: 15px;
    }

    .notifications__box .arrow:before {
        right: 16px !important;
    }

    .header__circles .notifications__box {
        padding-left: 40px;
    }
    .header__top-inner .header__proffil {
        right: -300px;
        font-size: 13px;
        .pfifil__info-img {
            margin-right: 10px;
        }
    }
    .header__drop-down {
        left: 100px;
        top: 100px;
        width: 200px;

        a {
            font-size: 12px;
        }
    }
}

@media (max-width: 390px) {
    .pricing__item-btn a {
    padding: 15px 20px;
    color: #fff;
    background-color: #ff6a6c;
}
    .pricing__item-info{
        li{
            font-size: 12px;
        }
        
    }
    .featured__top-wrapper {
        .featured__top-title {
            font-size: 16px;
            margin: 40px 15px 40px 15px;
        }
    }
}

@media (max-width: 380px) {
    .favourites__inner {
            .product__info-title{
        height: 65px;
    }
    }


    .product__item-btn .info {
    margin-left: 0px; 
    margin-right: 5px;
}
.product__item-btn .demo {
    margin-right: 0px;
    margin-left: 5px;
}
    .featured__info-subtitle {
        .featured__info-user {
            margin-left: 35px !important;
            margin-right: 11px !important;
        }
    }
    .create__content {
        .create__title {
            font-size: 30px;
        }
        .create__text {
            font-size: 16px;
        }
    }
    .footer__newsletter {
        .footer__newsletter-subtitle {
            margin-bottom: 60px;
        }
        .footer__social-link li + li {
            margin-left: 6px;
        }
    }
}
@media (max-width: 360px) {
    .shopping {
        .shopping__img {
            margin-top: 50px;
        }
    }
    .featured__slider-btn {
        .info {
            margin-right: 0px;
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }
        .demo {
            margin-left: 0px !important;
            display: block;
            width: 100%;
        }
    }
}
@media (max-width: 350px) {
    .contact__subtitle {
    font-size: 15px;
    line-height: 25px;
}
    .contact__title{
        font-size: 32px;
    }
    .header__top-inner .header__proffil {
        width: 136px;
        right: -260px;
    }
}

@media (max-width: 330px) {
    .footer__social-link li {
        margin-right: -4px;
    }
    .create__content {
        padding-bottom: 30px;
    }
}
